services:
  mariadb:
    image: mariadb:11
    container_name: auth-mariadb
    ports:
      - "3307:3306"
    environment:
      MARIADB_DATABASE: auth_db
      MARIADB_USER: auth_user
      MARIADB_PASSWORD: auth_password
      MARIADB_ROOT_PASSWORD: root_password
    volumes:
      - mariadb_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: auth-redis
    ports:
      - "6379:6379"

volumes:
  mariadb_data:
